# Author: CLS, smarty@groupcls.fr
include LICENSE
include pom.xml
include README.md
include setup.cfg
include setup.py
include src/motuclient/motu_utils/cfg/log.ini
include src/motuclient/motu_utils/cfg/messages.properties
